###### 7월 18일 시험얘기
상대평가이다.40 50 10 이렇게 생각했는데 어떻게 될지 모르겠다. 50 50 도 가능성이 있다. 

아니면 70 30 도 있고 시험결과를 봐야지 알 수 있다.

부담 갖지 말아라

# 7월 17일 클래스

In [3]:
hour_rate = 7500
total_wage = 0

def albeit(hours):
    global total_wage
    daily_wage = hour_rate * hours
    total_wage += daily_wage
    return total_wage

In [7]:
albeit(4), albeit(3), albeit(5)

(262500, 285000, 322500)

In [8]:
hour_rate = 7500
total_wage1 = 0
total_wage2 = 0

def albeit1(hours):
    global total_wage
    daily_wage = hour_rate * hours
    total_wage += daily_wage
    return total_wage

def albeit2(hours):
    global total_wage
    daily_wage = hour_rate * hours
    total_wage += daily_wage
    return total_wage

In [9]:
albeit1(3), albeit2(3)

(345000, 367500)

In [13]:
# 클래스를 사용하는거 시험에 나옴...
class Albeit:
    hour_rate = 7500
    def __init__(self): #self는 객체 자신
        self.total_wage = 0
    def calculate_wage(self, hours):
        daily_wage = Albeit.hour_rate * hours
        self.total_wage += daily_wage
        return self.total_wage

In [15]:
albeit1 = Albeit()
albeit1.calculate_wage(4)

30000

In [ ]:
class MyClass():
class MyClass(object):
class MyClass:        # 3개가 모두 같다.

In [16]:
class PartTimer:
    pass
kim = PartTimer()
Lee = PartTimer()
#i = int() 와 같다는 의미

In [20]:
print(type(kim)) # data type을 만들었다.

<class '__main__.PartTimer'>

In [28]:
class PartTimer:
    '''설명입니다.'''
    hour_rate = 7500
    nickname = None
    
kim = PartTimer()
Lee = PartTimer()

In [23]:
kim.hour_rate

7500

In [25]:
kim.nickname = '프로도'
kim.nickname

'프로도'

In [29]:
print(PartTimer.__doc__)

설명입니다.

In [123]:
class movies_world:
    movie = []
    name = None
    year = None    
    director = None
    money = None
    actor = None
    def setname(self, name):
        self.name = name
    movie.append({'영화 이름':name})
    def setyear(self, year):
        self.year = year
    movie.append({'개봉 년도':year})
    def setdirector(self, director):
        self.director = direcotr
    movie.append({'감독':director})
    def setmoney(self, money):
        self.money = money
    movie.append({'예산':money})
    def setactor(self, actor):
        self.actor = actor
    movie.append({'주연':actor})
    def gethhh(self):
        return self.movie

In [124]:
abc = movies_world()
abc.name = '어벤져스'
abc.year = 2018
abc.director = 'A'
abc.money = 3000
abc.actor = ['ironman', 'captin', 'spider']

In [125]:
abc.name, abc.year, abc.director, abc.money, abc.actor

('어벤져스', 2018, 'A', 3000, ['ironman', 'captin', 'spider'])

In [126]:
print(abc.gethhh())

[{'영화 이름': None}, {'개봉 년도': None}, {'감독': None}, {'예산': None}, {'주연': None}]

In [129]:
class Movie:
    def __init__(self, name, year, director, budget, stars):
        self.name = name
        self.year = year
        self.director = director
        self.budget = budget
        self.stars = stars
        
movies= []
movies.append(Movie('In', 2014, 'Nolan', '$165,000,000', ['Matthew', 'Anne', 'Jessica']))
movies.append(Movie('In', 2014, 'Nolan', '$165,000,000', ['Matthew', 'Anne', 'Jessica']))
movies.append(Movie('In', 2014, 'Nolan', '$165,000,000', ['Matthew', 'Anne', 'Jessica']))

for movie in movies:
    print(' 영화 {} 정보'.format(movie.name))
    print('영화 이름: ', movie.name)
    print('년도: ', movie.year)
    print('감독: ', movie.director)
    print('예산: ', movie.budget)
    print('주연: ', movie.stars)
    print()

 영화 In 정보
영화 이름:  In
년도:  2014
감독:  Nolan
예산:  $165,000,000
주연:  ['Matthew', 'Anne', 'Jessica']

 영화 In 정보
영화 이름:  In
년도:  2014
감독:  Nolan
예산:  $165,000,000
주연:  ['Matthew', 'Anne', 'Jessica']

 영화 In 정보
영화 이름:  In
년도:  2014
감독:  Nolan
예산:  $165,000,000
주연:  ['Matthew', 'Anne', 'Jessica']

In [133]:
class Movie:
    def __init__(self, name, year, director, budget, stars):
        self.name = name
        self.year = year
        self.director = director
        self.budget = budget
        self.stars = stars
    def get_stars(self):
        print('{} 주연목록'.format(self.name))
        for star in self.stars:
            print(star)
            
movie = Movie('In', 2014, 'Nolan', '$165,000,000', ['Matthew', 'Anne', 'Jessica'])

movie.get_stars()

In 주연목록
Matthew
Anne
Jessica

## 아르바이트생 관리

In [159]:
class PartTimer:
    hour_rate = 7500
    total_part_timers = 0

    def __init__(self, name, place = '113동'):
        total_wage = 0
        self.nickname = name
        self.workplace = place
        PartTimer.total_part_timers += 1
    
    def getnickname(self):
        return 'My nickname is ' + self.nickname
    
    def calculate_wage(self, hours):
        daily_wage = PartTimer.hour_rate * hours
        self.total_wage += daily_wage
        return self.total_wage

In [153]:
lee = PartTimer('라이언')

In [154]:
lee.nickname

'라이언'

In [157]:
print(lee.calculate_wage(3))

None